* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(25, 25, 25);
    color: white;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    -ms-overflow-style: none;
    scrollbar-width: none;

}

::-webkit-scrollbar {
    display: none;
}

.content {
    border: 1px solid red;
}

#navbar {
    background-color: rgb(25, 25, 25);

    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
}

nav {
    z-index: 1;

    width: 90%;
}

ul {
    list-style: none;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    padding: 8px;

    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

li:hover {
    background-color: darkred;

    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}

a {
    
}

a:hover {
    
}

li a {
    text-decoration: none;
    color: white;
}



#topBackground {
    background-color: rgb(25, 25, 25);
}

#topImageBackground {
    background-color: rgb(40, 40, 40);
}

#imgContainer {
    width: 90%;

    display: block;

    margin-left: auto;
    margin-right: auto;
}

#top {
    width: 90%;

    text-align: center;

    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#tennison {
    width: 18%;
    min-width: 100px;

    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#topH2 {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 18px;
}

#topH1 {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 32px;
}

#topParagraph {
    font-size: 12px;
}



#aboutBackground {
    background-color: rgb(40, 40, 40);
}

#about {
    width: 90%;

    text-align: center;

    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#aboutH1 {
    margin-bottom: 10px;
    font-size: 32px;
}

#aboutParagraph {
    font-size: 18px;
}



#portfolioBackground {
    background-color: rgb(25, 25, 25);
}

#portfolio {
    width: 90%;

    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#portfolioH2 {
    margin-bottom: 10px;
    text-align: center;
}



#contactBackground {
    background-color: rgb(40, 40, 40);
}

#contact {
    width: 90%;

    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#contactH2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

#mySubmit {
    border: none;
}

#mySubmit:hover {
    background-color: darkred;
}



footer {
    z-index: 1;

    background-color: rgb(25, 25, 25);
    color: white;

    

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 0;

    height: 2.5rem;
}

#footerContent {
    width: 90%;
    text-align: center;
}



@media screen and (max-width: 600px) {
    #navbar {
        display: none;
    }
}