body {
    margin: 0;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

#top {
    width: 100%;
    margin: 0;
    top: 0;
    position: sticky;
    
}

#navigation {
    background-color: black;
    color: white;
}

#logoImage {
    float: left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #111;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

#mainContent {
    background-color: #111;
    height: 100vh;
}

.content {
    background-color: rgb(25, 25, 25);
    width: 95%;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    border-style: solid;
    border-width: 3px;
    border-color: white;

    color: white;
    box-shadow: 0px 0px 250px 3px red;
}

#aboutMeImage {
    float: right;
    width: 300px;
    height: 300px;
    margin: 10px;
}

#aboutMeH1 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

#aboutMeP1 {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}

#aboutMeButton {
    border-style: none;

    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;

    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;

    background-color: #333;
    color: white;
}

#aboutMeButton > a {
    color: white;
    text-decoration: none;
}

#aboutMeButton:hover {
    box-shadow: 3px 3px 5px 3px rgb(0, 0, 0);
}

#contactForm {
    padding: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    margin-top: auto;
    width: 100%;
    height: 2.5rem;
}